@import "rsuite/dist/rsuite.css";
.App {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;

  font-size: 12px;
}
.rs-tree-metrics-tree .rs-tree-node-label{
  width: 100%;
}
.rs-tree-metrics-tree .rs-tree-node{
  display: flex;
  align-items: center;
}
.rs-tree-metrics-tree .rs-tree-node-label-content {
  width: inherit;
}
.countries-select, .chart-select {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
